/* YS-400-Regular */
@font-face {
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/text-regular.woff') format('woff');
}

/* YS-500-Medium */
@font-face {
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/text-medium.woff') format('woff');
}

/* YS-900-Bold */
@font-face {
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 900;
    src:
        url('../fonts/text-black.woff') format('woff');
}

:root {
    --white-color: #ffffff;
    --yellow-color: #FFDE40;
    --yellow-hover: #e3c327;
    --purple-color: #B6B9FF
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'YS Text', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding: 125px 262px;

}

.header {
    background: linear-gradient(10deg, #ff5c4d00 0%, #eb469e00 25%, #8341EF38 52%, #3F68F938 100%);
}

.header__container {
    padding: 125px 262px 0 125px;
    display: flex;
    justify-content: space-between;
    opacity: 100%;
}

.header__content {
    margin: 0;
    padding: 0;
    width: 420px;
    position: relative;
    z-index: 1;
    opacity: 100%;
}

.logo__img {
    padding-bottom: 60px;
}


.hedaer__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1.6px;
    margin: 0 0 0 1px;
    padding-bottom: 30px;
}

.hedaer__description {
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    margin: -2.2px -1.3px 38px 0;
}

.description__price {
    background: radial-gradient(100% 100% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
    border-radius: 500px;
    padding: 2px 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.description__price_1 {
    background-color: #e9e5ff;
    padding: 5px 14px 7px 42px;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #808080;
    position: absolute;
    right: 121px;
    z-index: -1;
}

.header__content-right {
    height: 300px;
}

.content-right__img {
    max-width: 818px;
    background-repeat: no-repeat;
    position: relative;
    background-position: right center;
    bottom: 26%;
    right: 16.6%;
    transform: rotate(0deg);
}

.content-right__img-text {
    max-width: 209px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 148%;
    left: 11%;
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 8s linear 0s normal none infinite running rot;
}

.header__content-btn {
    background-color: var(--yellow-color);
    transition: 0.6s;
    padding: 19px 48px;
    border-radius: 36px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.header__content-btn:hover {
    font-size: 24px;
    background-color: var(--yellow-hover);
    transition: 0.6s;
}

.header__content-btn-link {
    font-size: 24px;
    color: var(--black-text-color);
}

.section-participation__container {
    padding: 0;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section-participation__container {
    padding: 120px 262px 0 125px;
}

.section-participation__heading,
.section-heading {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1px;
    max-width: 58%;
    margin: 0 0 40px 0;
}

.section-participation__wrap-1 {
    display: flex;
    margin: 0 0 60.6px 0;
}

.section-participation__wrap-2 {
    display: flex;
}

.section-participation__block {
    max-width: 400px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.content-1 {
    margin-right: 139px;
}

.content-3 {
    margin-right: 73px;
}

.section-participation__block-img {
    margin: 0 0 9px 0;
}

.section-participation__block-content {
    max-width: 400px;
    padding: 0 0 0 3px;
}

.section-exclusive__container {
    padding: 122px 262px 0 125px;
}

.section-exclusive__heading {
    font-size: 48px;
    line-height: 48px;
    max-width: 600px;
    margin: 0 0 36px 0;
}

.section-exclusive__content {
    max-width: 442px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.section-exclusive__slider {
    display: flex;
}


.section-exclusive__slider-first-row,
.section-exclusive__slider-second-row {
    position: relative;
    display: flex;
    flex-direction: column;
}

.section-exclusive__slider-img {
    padding-bottom: 5px;

}

.section-exclusive__slider-icon-1{
    position: absolute;
    top: -113px;
    right: 235px;
}

.section-exclusive__slider-icon-2 {
    position: absolute;
    top: -146px;
    left: 258px;
}

.section-exclusive__slider-icon-3 {
    position: absolute;
    bottom: -45px;
    left: 170px;
}

.section-exclusive__slider-first-row {
    margin: 42px 13px 0 -12px;
}

.section-exclusive__slider-second-row {
    margin-top: -170px;
}



